
.c-content {
  display: flex;
  font-weight: $font-weight-light;
  padding: 3%;

    @media screen and (min-width: $width-x-small) {
      flex-wrap: wrap;
    }

    @media screen and (min-width: $width-large){
      flex-wrap: nowrap;

    }
}

.c-content__intro {
  border: 1px red solid;

    @media screen and (min-width: $width-x-small) {
      width: 100%;
    }

    @media screen and (min-width: $width-large){
      width: 50%;
      justify-content: space-between;
    }


  }

.c-content__list {
  border: 1px red solid;
  line-height: $line-height-text;
  font-size: $font-size-text-x-large;
  font-weight: $font-weight-regular;
  color: $color-primary;



  @media screen and (min-width: $width-x-small) {
    width: 100%;
    padding-top: 5%;
  }

  @media screen and (min-width: $width-large){
    width: 50%;
    padding: 2%;
  }
}

.c-content__list--item {
  @media screen and (min-width: $width-x-small) {
    padding-bottom: 5%;
  }

  @media screen and (min-width: $width-x-small + 320px) {
    padding-bottom: 2%;
  }


  @media screen and (min-width: $width-medium) {
    padding-bottom: 1%;
  }


}

.c-content__heading {
  color: $color-primary;
  font-size: $font-size-heading-x-large;
  font-weight: $font-weight-extrabold;
  padding: 2% 0;

  @media screen and (min-width: $width-medium) {
    display: none;
  }
}
