
.c-content {
  display: flex;
  padding: 20px 100px;
  justify-content: flex-start;
  font-weight: $font-weight-light;

    @media screen and (min-width: $width-x-small) {
      flex-wrap: wrap;
    }

    @media screen and (min-width: $width-large){
      flex-wrap: nowrap;
    }
}

.c-content__intro {
    @media screen and (min-width: $width-x-small) {
      width: 100%;
    }

    @media screen and (min-width: $width-large){
      width: 50%;
    }


  }

.c-content__list {
line-height: $line-height-text;
font-size: $font-size-text-x-large;
font-weight: $font-weight-regular;
color: $color-primary;
  @media screen and (min-width: $width-x-small) {
    width: 100%;
  }

  @media screen and (min-width: $width-large){
    width: 50%;
    padding-left: 5%;
  }
}
