.c-footer__social {
  display: flex;


  @media screen and (min-width: $width-x-small) {
    justify-content: flex-start;
    width: 100%;
    padding-top: 20px;
    }

  @media screen and (min-width: $width-medium) {
    justify-content: flex-end;
    width: 50%;
    order: 2;
    }
}

.c-footer__social--cta {
  margin-right: 1%;
  font-weight: $font-weight-bold;
  font-size: $font-size-text-x-large;
}

.c-footer__social--icons {
  @media screen and (min-width: $width-medium) {
    justify-content: flex-end;
  }
}

.c-footer__copyright {
  display: flex;
  padding-top: 20px;
  font-weight: $font-weight-light;

  @media screen and (min-width: $width-x-small) {
    width: 100%;
    }

  @media screen and (min-width: $width-medium) {
    width: 50%;
    }
}

.c-footer {
  display: flex;
  padding: 0 4% 0 4% ;
  @media screen and (min-width: $width-x-small) {
    flex-wrap: wrap;
    padding-bottom: 5%;
    border-top: 4px black solid;
  }

  @media screen and (min-width: $width-medium) {
    flex-wrap: nowrap;
    border-top: 0;
  }
}
