.flexwrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media screen and (min-width: $width-x-small) {
    justify-content: space-between;
  }
}

.flexwrapper__logo {
  margin: $spacing-small;
}

.flexwrapper__menu {
  display: visible;
  justify-content: flex-end;

  @media screen and (min-width: $width-medium) {
    display: none;
  }
}

.flexwrapper__contactlist {
  list-style: none;
  line-height: $line-height-heading;
  margin: $spacing-small;

  @media screen and (min-width: $width-x-small) {
    width: 100%;
  }

  @media screen and (min-width: $width-medium) {
    justify-content: flex-end;
    width: 20%;
  }
}
