body {
  margin: 0 auto;
  max-width: 1080px;
}

.c-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media screen and (min-width: $width-x-small) {
    justify-content: space-between;
  }
}

.c-header__logo {
  margin: $spacing-small;
}

.c-header__menu {
  display: visible;

  @media screen and (min-width: $width-small - 51) {
    display: none;
  }
}

.c-header__contactlist {
  line-height: $line-height-heading;
  margin: $spacing-small;
  background-repeat: no-repeat;
}

.c-header__contactlist--phone {
  background: url('assets/phone.svg');
}

.c-header__contactlist--location {
  background: url('assets/location.svg');
}

.c-header__contactlist--clock {
  background: url('assets/location.svg');
}
