
.c-hero {
  align-items: flex-end;
  border: 2px red solid;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}

.c-hero__cta {
  border: 2px red solid;

  color: $color-white;
  font-weight: $font-weight-bold;
  line-height: $line-height-heading;
  position: absolute;
  bottom: 2px;
  left: 20px;
  z-index: 1;
  width: 20%;

  @media screen and (min-width: $width-x-small) {
    font-size: $font-size-heading-large;
    }

  @media screen and (min-width: $width-small) {
    font-size: $font-size-heading-xx-large;
    }

    @media screen and (min-width: $width-large) {
    font-size: $font-size-heading-xxx-large;
    }
}

.c-hero__img {
  width: 100%;
}
