
.c-nav-hero__container {
  position: relative;
}

.c-lg-nav__background {
  background-color: $color-black-secondary;
  position: absolute;
  z-index: 1;
  border: 2px blue solid;
  height: 50px;
  width: 100%;

  @media screen and (min-width: $width-x-small) {
    display: none;
  }

  @media screen and (min-width: $width-medium) {
    display: flex;
  }
}

.c-lg-nav__list {
  display: flex;
  align-self: flex-start;
  align-items: center;
  height: 50px;
  padding-left: 2%;
  border: 2px red solid;
  position: absolute;
  z-index: 2;
  justify-content: space-between;

  @media screen and (min-width: $width-x-small) {
    display: none;
    }

  @media screen and (min-width: $width-medium) {
    width: 100%;
    padding-right: 2%;
    display: flex;
    }

  @media screen and (min-width: $width-large) {
    width: 80%;
    }
}

.c-lg-nav__list--link {
  color: $color-white;
}

.c-lg-nav__list--active {
  padding: 0 5px;
  border-radius: $border-radius-small;
  background-color: $color-white;
  font-weight: $font-weight-bold;
}

//sm navigation
.c-sm-nav {
  border: 2px red solid;
  display: flex;
  padding: 20px;
  }

  .c-sm-nav__list {
    font-weight: $font-weight-bold;
    font-size: $font-size-text-large;
    line-height: $line-height-tall + 0.5;
    flex-direction: column;
    justify-content: center;
    border: 2px purple solid;
    width: 50%;
    }

.c-sm-nav__anchor {
  border: 2px blue solid;
  justify-content: flex-end;
  width: 50%;
  text-align: right;
  }



.c-sm-nav__list--active {
  text-decoration: underline;
  }
