
.c-nav-hero__container {
  position: relative;
}

.c-lg-nav__background {
  background-color: $color-black-secondary;
  height: 50px;
  position: absolute;
  width: 100%;
  z-index: 1;

  @media screen and (min-width: $width-x-small) {
    display: none;
  }

  @media screen and (min-width: $width-medium) {
    display: flex;
  }
}

.c-lg-nav__list {
  align-items: center;
  align-self: flex-start;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding-left: 2%;
  position: absolute;
  z-index: 2;

  @media screen and (min-width: $width-x-small) {
    display: none;
    }

  @media screen and (min-width: $width-medium) {
    display: flex;
    padding-right: 2%;
    width: 100%;
    }

  @media screen and (min-width: $width-large) {
    width: 80%;
    }
}

.c-lg-nav__list--link {
  color: $color-white;
}

.c-lg-nav__list--active {
  background-color: $color-white;
  border-radius: $border-radius-small;
  font-weight: $font-weight-bold;
  padding: 0 5px;
}

.c-sm-nav {
  display: flex;
  padding: 20px;

  @media screen and (min-width: $width-x-small) {
    display: flex;
    }

  @media screen and (min-width: $width-medium) {
    display: none;
    }
  }

  .c-sm-nav__list {
    font-weight: $font-weight-bold;
    font-size: $font-size-text-x-large;
    line-height: $line-height-tall + 0.5;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 1%;
    border-bottom: 4px solid;
    }

.c-sm-nav__anchor {
  justify-content: flex-end;
  width: 50%;
  text-align: right;
  border-bottom: 4px solid;
  }

.c-sm-nav__list--active {
  text-decoration: underline;
  }
